@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@800&display=swap');


h1 {
    font-family: 'Anek Gujarati';
    margin: 0;
}
p {
      font-family: 'Anek Gujarati';
}
body {
    margin: 0;
    background-image: url("backgroud.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.headcon {
    display: flex;
    width: 100vw;
    height: 5em;
    background-color: rgba(0, 136, 53);
}
.logocon {
    display: flex;
    padding-left: 5vw;
    padding-top: .3em;
    height: 10vh;
    column-gap: .5em;
}
#sklogo {
    padding-top: 2px;
    height: 96%;
}
#BRGLogo {
    height: 100%;
}
.bgcon {
    background: cover;
    width: 100%;
    
}
.redbg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 136, 53, 0.6);
    width: 80%;
    height: 100vh;
    
}
.redbgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 136, 53, 0.6);
    width: 80%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: none;
    
}
.maintext {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 10vw, 10vh;
    padding-bottom: 10%;
}
.h1con {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}
.buttoncon {
    display: flex;
    justify-content: center;
    column-gap: 15%;
}
button {
    border-radius: 100px;
    font-family: 'Anek Gujarati';
    font-weight: bolder;
    font-size: 140%;
}
#registerbutton {
    height: 3em;
    width: 10em;
    border: none;
    background-color: rgba(0, 136, 53);
    color: white;
}
#loginbutton {
    height: 3em;
    width: 10em;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.4);
}
.buttons {
    cursor: pointer;
}
.whitebg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: 100vh;  
        
}
.termsdp {
    text-align: center;
}
#tdptext {
    font-weight: bolder;
    font-size: 4vh;
    padding-left: 2%;
    padding-top: 1%;
}
.rulescon {
    background-color: white;
    width: 70vw;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
#terms {
    margin-left: 2%;
    margin-right: 2%;
    font-size: medium;
    font-weight: bolder;
}
.termscheckcon {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    padding-top: 1%;
    width: 45vw;
    height: 8.5vh;
}
#termscheck {
    width: 3vh;
}
#checkboxtxt {
    font-weight: bolder;
    font-family: 'Anek Gujarati';
    padding-left: 2%;
    text-align: center;
}
.tdpbuttoncon {
    display: flex;
    justify-content: center;
    column-gap: 25%;

}
#tdphome {
    height: 2em;
    width: 6em;
    border-width: 3px;
    background-color: rgba(0, 136, 53, 0.5);
    color: white;
}
#tdpnext {
    height: 2em;
    width: 6em;
    border-width: 3px;
    background-color: rgb(255, 255, 255, .5);
}
#tdptext {
    padding-top: 3%;
    padding-bottom: 3%;
}
.tdpwelcomecon {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15%;
}
#registerdetailscon {
    margin-top: none;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}
#whiteline {
    background-color: white;
    height: 1px;
    width: 100%;
}
#registertxtcon {
    margin: 0% 5%;
    padding-top: 0.1%;
}
#registertxt {
    color: #FBF2CF ;
}
.registrationflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.registrationflexsingle {
    display: grid;
    justify-items: center;
    
}
#registrationbuttoncon {
    display: flex;
    justify-content: end;
}
.registertxtdetails {
    color: #FBF2CF;
    font-weight: 150;
}
#registrationbutton {
    width: 15vw;
    border-color: white;
    background-color: #008335;
    color: #FBF2CF;
}
/* Mobile */
@media screen and (max-width: 480px) {
    #tdptext {font-size: 5vh;}
    .registrationflex {grid-template-columns: 1fr;}
    .logocon {height: 9vh;}
    #registrationbutton {width: 20vw;}
    .h1con {padding-bottom: 90%;}
}

/* Tablet */
@media screen and (max-width: 768px) {
    #checkboxtxt {font-size: 2.3vw;}
}

/* Desktop */
@media screen and (min-width: 992px){
    #checkboxtxt {font-size: 3vw;}
}

/* Huge */
@media screen and (min-width: 1280px) {
    #checkboxtxt {font-size: 5vw;}
}
