@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@800&display=swap');



h1, h2, h3, p {
    font-family: 'Anek Gujarati';
}



.flex-container {
    display: flex;
}



.login {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 136, 53);
}
    .login .loginheadcon {
        display: flex;
        width: 100vw;
        height: 5em;
        justify-content: center;
        background-color: white;
        color: rgba(16, 14, 172, 1)
    }
        .login .flex-container .loginlogocon {
            display: flex;
            margin-left: 9vw;
            margin-top: 10vh;
            height: 70vh;
            width: 90vw;
        }
        .login .flex-container .interfacecon {
            position: relative;
            left: 2vw;
            top: 2vh;
            margin-top: 10vh;
            margin-right:9vw;
            width: 70vw;
            background-color: white;
        }
            .login .interfacecon .emailtxt input[type="email"], 
            .login .interfacecon .passwordtxt input[type="password"] {
                width: 33vw;
                padding: 4vh;
                margin-top: 10vh;
                margin-left: 1vw;
                border: none;
                border-radius: 14px;
                background-color: #f2f2f2;
                box-sizing: border-box;
            }
            .login .flex-container .interfacecon h2 {
                position: absolute;
                margin-top: 4.5vh;
                margin-left: 2vw;
                font-size: 2vw;
                color:rgba(0, 136, 53, 0.5);
            }
            .login .flex-container .interfacecon .loginbtn {
                cursor: pointer;
                margin-top: 9vh;
                margin-left: 1.3vw;
                height: 9vh;
                width: 33vw;
                border-width: 0px;
                border-radius: 14px;
                background-color: rgba(0, 136, 53, 0.5);
                color: white;
            }
                .login .flex-container .interfacecon .loginbtn:hover {
                    transition: 0.3s;
                    background-color: rgba(0, 136, 25, 1);
                }
            .login .flex-container .interfacecon .forgotpass {
                cursor: pointer;
                padding-top: 1.5vh;
                text-align: center;
                color:blue;
            }



.main {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 136, 53);
}
    .main .headcon {
        display: flex;
        width: 100vw;
        height: 4.5em;
        background-color: transparent;
    }
        .main .headcon .logocon {
            z-index: 1;
            margin-left: 1vw;
            margin-top: 3vh;
            height: 25vh;
            width: 25vh;
        }
        .main .headcon .brgy {
            margin-left: 4vw;
            margin-top: 2vh;
            font-size: 2.8em;
            color: rgba(251, 242, 207, 1);
        }
        .main .headcon ul {
            display:flex;
            margin-top: 3vh;
            margin-left: 11vw;
        }
            .main .headcon ul li {
                cursor: pointer;
                list-style: none;
                margin-left: 1.5vw;
                font-size: 1.5em;
                color: white;
                transition: 0.3s ease-in-out;
            }
                .main .headcon ul li:hover {
                    text-decoration: underline;
                    color: rgba(251, 242, 207, 1);
                }
        .main .headcon .toptime {
            margin-left: 2vw;
            margin-top: 2vh;
            font-size: 4.5em;
            font-weight: bold;
            -webkit-text-stroke-width: 3px;
            color: rgba(251, 242, 207, 1);
        }
        .main .headcon .bottomtime {
            margin-left: 4vw;
            margin-top: 4vh;
            font-size: 1em;
            letter-spacing: 6px;
            color: white;
        }
    .main .sidecon {
        width: 23vw;
        height: 100vh;
        border-radius: 8px;
        color: white;
        background-color: white;
    }
        .main .sidecon .contact {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:3vh;
            margin-left: 1.5vw;
            font-size: 1.3em;
            height:5vh;
            width:20vw;
            border-radius: 14px;
            color: rgba(251, 242, 207, 1);
            background-color: rgba(0, 136, 25, 1);
        }
        .main .sidecon .address {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:4vh;
            margin-left: 1.5vw;
            font-size: 1.3em;
            height:5vh;
            width:20vw;
            border-radius: 14px;
            color: rgba(251, 242, 207, 1);
            background-color: rgba(0, 136, 25, 1);
        }
        .main .sidecon .motto {
            text-align: center;
            margin-top:3.7vh;
            margin-left: 1vw;
            margin-right: 1vw;
            font-size: 1.1em;
            font-weight: bold;
            color: rgba(251, 242, 207, 1);
            color: rgba(0, 136, 25, 1);
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.611);
        }
        .main .sidecon .contactbox {
            margin-top: -2vh;
            margin-left: 1.5vw;
            height:7vh;
            width:20vw;
            border-radius: 14px;
            background-color: rgba(0, 136, 25, 1);
        }
            .main .sidecon .contactbox h3,
            .main .sidecon .contactbox p {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: -2vh;
            }
            .main .sidecon .contactbox h3 {
                color: rgba(251, 242, 207, 1);
            }
    



.home {
    overflow: hidden;
}
    .home .bodycon {
        margin-right: 1vw;
        width: 76vw;
        height: 100vh;
        background-color: white;
    }
        .home .bodycon .topbody{
            position:relative;
            height: 40vh;
        }
            .home .bodycon .topbody .welcometxt {
                position:absolute;
                text-align: center;
                margin-top: 8vh;
                margin-left: 16vw;
                font-size: 4vw;
                color:rgba(251, 242, 207, 1);
                text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.611);
            }
        .home .bodycon .bottombody {
            position:relative;
            height: 40vh;
        }
            .home .bodycon .bottombody .officialtxt {
                position:absolute;
                text-align: center;
                margin-top: 8vh;
                margin-left: 36vw;
                font-size: 2.5vw;
                color:rgba(251, 242, 207, 1);
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.611);
            }
            .home .bodycon .bottombody .viewbtn {
                position:absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 26vh;
                margin-left: 38.3vw;
                width: 25vw;
                height: 8vh;
                border-radius: 20px;
                background-color: white;
                opacity: 0.8;
                border-color: rgba(0, 136, 25, 1);
                transition: 0.2s ease-in-out;
            }
                .home .bodycon .bottombody .viewbtn:hover {
                    opacity: 1;
                    background-color: rgba(0, 136, 25, 1);
                    color: white;
                }
        .home .bodycon .img {
            width:76vw;
            height:40vh;
        }



.cert {
    min-height: fit-content;
}
    .cert .bodycon {
        margin-right: 1vw;
        overflow: auto;
        width: 76vw;
        height:100vh;
        background-color: white;
        /* background-image: url(BRGY\ LOGO.png);
        background-repeat: no-repeat;
        background-size: 38vw;
        background-position: 20vw -.2vh; */
    }
        .cert .bodycon .header {
            display: flex;
            align-items: center;
            justify-content: right;
            height: 10vh;
            color: rgba(251, 242, 207, 1);
            border-bottom: 0.3vw solid rgba(0, 136, 25, 1);
        }
            .cert .bodycon .header .headtxt{
                margin-right: 3vw;
                font-size: 4em;
                font-weight: bold;
                color: rgba(251, 242, 207, 1);
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.611);
            }
        .cert .bodycon .content {
            display: flex;
            align-items: center;
            margin-left: 2vw;
            width: 72vw;
            height: 35vh;
            background-color: rgba(0, 136, 25, 0.466);
        }
            .cert .bodycon .content:hover {
                transition: 0.5s;
                background-color: rgba(0, 136, 25, 1);
            }
            .cert .bodycon .content .img {
                margin-left: 2vw;
                height: 30vh;
                width: 15vw;
            }
            .cert .bodycon .content .txt {
                margin-left: 1vw;
                padding: 1vw;
                height: 26vh;
                width: 45vw;
                border-radius: 50px;
                border: 0.1vw solid black;
                background-color: white;
            }
            .cert .bodycon .content .btn {
                margin-left: .9vw;
                height: 10vh;
                width: 5vw;
                border-radius: 100px;
                border: 0.1vw solid white;
                color: white;
                background-color: rgba(0, 136, 25, 1);
            }
                .cert .bodycon .content .btn:hover  {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 30%;
                    border-radius: 0px;
                    border-color: rgba(0, 136, 25, 1);
                    color: rgba(0, 136, 25, 1);
                    background-color: white;
                    transition: 0.2s ease-in-out;
                }
        .cert .bodycon .footer {
            height: 20vh;
        }



.announce {
    min-height: fit-content;
}
    .announce .bodycon {
        margin-right: 1vw;
        overflow: auto;
        width: 76vw;
        height:100vh;
        background-color: white;
        /* background-image: url(BRGY\ LOGO.png);
        background-repeat: no-repeat;
        background-size: 38vw;
        background-position: 20vw -.2vh; */
    }
        .announce .bodycon .header {
            display: flex;
            align-items: center;
            justify-content: right;
            height: 10vh;
            color: rgba(251, 242, 207, 1);
            border-bottom: 0.3vw solid rgba(0, 136, 25, 1);
        }
            .announce .bodycon .header .headtxt{
                margin-right: 3vw;
                font-size: 4em;
                font-weight: bold;
                color: rgba(251, 242, 207, 1);
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.611);
            }
        .announce .bodycon .posts {
            display: flex;
            height: 100%;
        }
            .announce .bodycon .posts .crosswise {
                height: fit-content;
                width: 55vw;
            }
                .announce .bodycon .posts .crosswise .crosscont {
                    position: relative;
                    display: flex;
                    margin-left: 1.9vw;
                    margin-top: 5vh;
                    height: 40vh;
                    width: 50vw;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 136, 25, 1);
                    background-color: rgba(0, 136, 25, 0.466);
                }
                    .announce .bodycon .posts .crosswise .crosscont h3{
                        position: absolute;
                        margin-top: 2vh;
                        margin-left: 2vh;
                        font-weight: bold;
                        font-size: 2vw;
                        color: rgba(251, 242, 207, 1);
                    }
                    .announce .bodycon .posts .crosswise .crosscont .img{
                        margin-top: 8vh;
                        margin-left: 2vh;
                        height: 30vh;
                        width: 15vw;
                    }
                    .announce .bodycon .posts .crosswise .crosscont .txt{
                        margin-left: 1.5vw;
                        margin-top: 8vh;
                        padding-left: 0.5vw;
                        padding-right: 0.5vw;
                        height: 30vh;
                        width: 30vw;
                        font-size: 1vw;
                        border-radius: 10px;
                        background-color: white;
                    }
                        .announce .bodycon .posts .crosswise .crosscont .txt span{
                            color: blue;
                        }
                        .announce .bodycon .posts .crosswise .crosscont .txt span:hover{
                            cursor: pointer;
                        }
            .announce .bodycon .posts .lengthwise {
                position:relative;
                height: fit-content;
                width: 21vw;
            }
                .announce .bodycon .posts .lengthwise .lengthcont {
                    margin-left: 2vw;
                    margin-top: 5vh;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    height: 85vh;
                    width: 15vw;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 136, 25, 1);
                    background-color: rgba(0, 136, 25, 0.466);
                }
                    .announce .bodycon .posts .lengthwise .lengthcont h3 {
                        margin-top: 1vh;
                        margin-left: 1vh;
                        font-weight: bold;
                        font-size: 2vw;
                        color: rgba(251, 242, 207, 1);
                    }
                    .announce .bodycon .posts .lengthwise .lengthcont .img{
                        margin-top: 1vh;
                        margin-left: 0.2vh;
                        margin-bottom: 7vh;
                        height: 30vh;
                        width: 15vw;
                    }
            .announce .bodycon .posts .footer {
                height: 30vh;
            }



.persinfo {
    min-height: fit-content;
}
    .persinfo .bodycon {
        margin-right: 1vw;
        overflow: auto;
        width: 76vw;
        height:100vh;
        background-color: white;
        /* background-image: url(BRGY\ LOGO.png);
        background-repeat: no-repeat;
        background-size: 38vw;
        background-position: 20vw -.2vh; */
    }
        .persinfo .bodycon .header {
            display: flex;
            align-items: center;
            justify-content: right;
            height: 10vh;
            color: rgba(251, 242, 207, 1);
            border-bottom: 0.3vw solid rgba(0, 136, 25, 1);
        }
            .persinfo .bodycon .header .headtxt{
                margin-right: 3vw;
                font-size: 4em;
                font-weight: bold;
                color: rgba(251, 242, 207, 1);
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.611);
            }
        .persinfo .bodycon .faminfo {
            display: flex;
            height: 100%;
        }
            .persinfo .bodycon .faminfo .member {
                height: fit-content;
                width: 25vw;
                /* background-color: blue; */
            }
                .persinfo .bodycon .faminfo .member .container {
                    background-color:transparent;
                }
                .persinfo .bodycon .faminfo .member .container:hover {
                    background-color: rgba(0, 136, 25, 1);
                    color: white;
                }
                .persinfo .bodycon .faminfo .member .membercont1 {
                    margin-left: 1vw;
                    margin-top: 4vh;
                    height: fit-content;
                    width: 22.5vw;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 136, 25, 1);
                }
                        .persinfo .bodycon .faminfo .member .membercont1:hover > .img {
                            transition: 0.3s;
                            margin-top: 4vh;
                            margin-left: 1.6vh;
                            height: 42vh;
                            width: 21vw;
                        }
                    .persinfo .bodycon .faminfo .member .membercont1 .img {
                        margin-top: 4vh;
                        margin-left: 4.5vh;
                        height: 36vh;
                        width: 18vw;
                    }
                    .persinfo .bodycon .faminfo .member .membercont1 h2 {
                        display: flex;
                        justify-content: center;
                        color: rgba(0, 136, 25, 1);
                    }
                /* .persinfo .bodycon .faminfo .member .membercont2 {
                    margin-top: 0.5vh;
                    margin-left: 1vw;
                    height: fit-content;
                    width: 22.5vw;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 136, 25, 1);
                } */
                    .persinfo .bodycon .faminfo .member .membercont1 .infocon1 {
                        position: relative;
                        display: flex;
                        justify-content: right;
                        padding-bottom: 2.7vh;
                        height: 8vh;
                        width: 100%;
                        border-top: 2px solid rgba(0, 136, 25, 1);
                        border-bottom: 2px solid rgba(0, 136, 25, 1);
                    }
                    .persinfo .bodycon .faminfo .member .membercont1 .infocon2 {
                        position: relative;
                        display: flex;
                        justify-content: right;
                        padding-bottom: 2.7vh;
                        height: 8vh;
                        width: 100%;
                        border-bottom: 2px solid rgba(0, 136, 25, 1);
                    }
                        .persinfo .bodycon .faminfo .member .membercont1 .label{
                            justify-content: left;
                        }
                            .persinfo .bodycon .faminfo .member .membercont1 .label .img {
                                position: absolute;
                                margin-top: 1vh;
                                margin-left: -21.5vw;
                                height: 8vh;
                                width: 4vw;
                            }
                            .persinfo .bodycon .faminfo .member .membercont1 .label .txt {
                                position: absolute;
                                margin-top: 3.5vh;
                                margin-left: -16vw;
                                font-size: 1.2vw;
                                border: none;
                                color: rgba(0, 136, 25, 1);
                            }
                            .persinfo .bodycon .faminfo .member .membercont1 .label .address {
                                position: absolute;
                                margin-top: 0.5vh;
                                margin-left: -16vw;
                                font-size: 1.2vw;
                                border: none;
                                color: rgba(0, 136, 25, 1);
                            }
                        .persinfo .bodycon .faminfo .member .membercont1 .info {
                            position: absolute;
                            margin-top: 3.5vh;
                            margin-right: 1vw;
                            font-size: 1.2vw;
                            border: none;
                            color: rgba(0, 136, 25, 1);
                        }
            .persinfo .bodycon .faminfo .othermembers {
                height: fit-content;
                width: 50vw;
                /* background-color: red; */
            }
                .persinfo .bodycon .faminfo .othermembers .membercont{
                    margin-left: 1.5vw;
                    margin-top: 4vh;
                    height: 40vh;
                    width: 22.5vw;
                    border-radius: 8px;
                    border: 3px solid rgba(0, 136, 25, 0.466)
                }
                    .persinfo .bodycon .faminfo .othermembers .membercont:hover {
                        transition: 0.3s;
                        cursor: pointer;
                        border-color: rgba(0, 136, 25, 1);
                        background-color: rgba(0, 136, 25, 1);
                    }
                        .persinfo .bodycon .faminfo .othermembers .membercont:hover > h2 {
                            transition: 0.3s;
                            margin-top: 0.5vh;
                            color: white;
                        }
                        .persinfo .bodycon .faminfo .othermembers .membercont:hover > .img {
                            transition: 0.3s;
                            margin-top: 1vh;
                            margin-left: 3.5vw;
                            height: 32vh;
                            width: 16vw;
                        }
                    .persinfo .bodycon .faminfo .othermembers .membercont .img{
                        margin-top: 4vh;
                        margin-left: 5.5vw;
                        height: 24vh;
                        width: 12vw;
                    }
                    .persinfo .bodycon .faminfo .othermembers .membercont h2{
                        display: flex;
                        justify-content: center;
                        color: rgba(0, 136, 25, 1);
                    }
            .persinfo .bodycon .faminfo .footer {
                height: 25vh;
            }